{% extends "master.html" %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4">
        <form role="form">
            <div class="form-group">
                <label for="email">Nome:</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Endereço:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Cidade:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Estado:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
            <button type="submit" class="btn btn-default">Cancelar</button>
        </form>
    </div>
</div>
{% endblock %}
