{% extends "master.html" %}
{% block body %}
{{ super() }}
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4" ng-controller="CadastroDeClienteController">
        <form role="form">
            <div class="form-group">
                <label for="email">Nome:</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Endereço:</label>
                <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Cidade:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Estado:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <button type="submit" class="btn btn-default">Enviar</button>
            <button type="submit" class="btn btn-default">Cancelar</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script src="{{url_for('static', filename='app/controllers/cadastrodecliente-controller.js')}}"></script>
    <script src="{{url_for('static', filename='app/services/cepservice.js')}}"></script>
    <script src="{{url_for('static', filename='app/services/climaservice.js')}}"></script>
    <script src="{{url_for('static', filename='app/dataproxy/widenetcepdataproxy.js')}}"></script>
    <script src="{{url_for('static', filename='app/dataproxy/openweatherdataproxy.js')}}"></script>
    <script src="{{url_for('static', filename='app/dataproxy/geoipdataproxy.js')}}"></script>
    <script src="{{url_for('static', filename='app/services/geoipservice.js')}}"></script>
{% endblock %}
